/* style.css Main Css File*/
body {
background-color: darkgray;
margin: 0;
padding: 0;

min-height: 100vh; /* take full height of the viewport */
height: 100%;
}




nav{
  color: #777777;
  background-color: rgb(63, 63, 63);
  padding: 0;
  margin: 0;
  border: none;
  
}
nav div{
color: #777777;
}

div{ border:1px solid rgb(0, 85, 1);
border-radius: 1rem;
text-align: center;
}

div a{display: block;
text-decoration: none;
color: aquamarine;

}
div span{
  color: rgb(140, 140, 140);
}





pre{
  white-space: pre-wrap;
}

main{ height: 400px;
  border:2px solid rgb(2, 2, 2);
}


footer{
color: rgb(149, 149, 149);
background-color: rgb(41, 41, 41);
text-align: center;
font-size: medium;

}




h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.iframe-container {
  width: 100%;
  height: 100%;
}
.iframe-container iframe {
  position: absolute; 
  height: 100%; 
  width:  100%; 
  border: none
}