/* style.css Main Css File*/
body {
background-color: darkgray;
margin: 0;
padding: 0;
min-height: 100vh; /* take full height of the viewport */
height: 100%;
}




/* Resetting default link styles */
a {color: inherit; /* Inherit text color from parent */
text-decoration: none; /* Remove default underline */
color: rgb(221, 221, 221); /* Text color */
}






h1,h2,h3,h4,h5,h6{

  margin: 0;
}

.iframe-container {
  width: 100%;
  height: 100%;
}
.iframe-container iframe {
  position: absolute; 
  height: 100%; 
  width:  100%; 
  border: none
}