/* style.css Main Css File*/
body {
background-color: darkgray;
margin: 0;
padding: 0;
min-height: 100vh; /* take full height of the viewport */
display: flex;
flex-direction: column;
height: 100%;
}

::-webkit-scrollbar{display: none; }/* Chrome, Safari, Opera */
*{scrollbar-width:none; }/* Firefox */

main {
flex: 1; /* Grow to fill the available space */
}
footer {
background-color: #333;
color: #cbcbcb;
padding: 0.625rem;
text-align: center;
}

/* Resetting default link styles */
a {color: inherit; /* Inherit text color from parent */
text-decoration: none; /* Remove default underline */
color: rgb(221, 221, 221); /* Text color */
}

pre {
  margin: 0 auto; /* This centers the pre element horizontally */
  display: block; /* Ensures the pre element behaves as a block element */
  width: fit-content; /* Adjust the width to fit the content */
  text-align: left; /* Align the text within the pre element */
}


.navclass {
  width: 100%;
  background-color: #333;
}

.navclass ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Distribute items evenly */
}

.navclass li {
  flex: 1; /* Each item takes up equal space */
  text-align: center;

}

.navclass li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.navclass li a:hover {
  background-color: #ddd;
  color: black;
}

.desc {
  font-size: 12px;
}
.navclass span{ color: white;
  text-align: center;
}

.resizable-image {
  width: 7vw; /* Set the width of the image to 50% of the viewport width */
  height: auto; /* Allows the height to adjust according to the image aspect ratio */
  max-width: 100%; /* Ensures the image doesn't exceed the viewport width */
  border-radius: 10em; 
  display: block;

}

ol,ul{  list-style-type: none;
  text-align: center;
}

li {
  text-align: center;
}

.resizable-image {
  display: block;
  margin: auto;
}


.container {
  display: flex;
}

.left-side {
  width: 50%; /* Adjust this value as needed */
  float: left; /* Ensures the left side stays on the left */
}

.right-side {
  width: 50%; /* Adjust this value as needed */
  float: right;
}


h1,h2,h3,h4,h5,h6{

  margin: 0;
}

.iframe-container {
  width: 100%;
  height: 100%;
}
.iframe-container iframe {
  position: absolute; 
  height: 100%; 
  width:  100%; 
  border: none
}